body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 300px;
}

h1 {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4facfe;
    color: white;
    font-weight: bold;
}

button:hover {
    background: #00c6ff;
}

.acierto {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
